@media only screen and (max-width:1024px){
    .row {
        width: 1024px;
        margin: 0 10px;
    }
    .main_nav{
    display: none;
    }
    html{
        font-size: 57.5%;
    }
}
    